<div class="jumbotron">
<jqcloud words="words" width="500" height="350" steps="10" removeOverflowing = "false"></jqcloud>
</div>
<div class="row marketing">    
    
 <div ng-repeat="luncher in lunchers | filter:searchText">
  <h4>{{luncher.name}}</h4>
  <span ng-show="luncher.lunchingWith != null">
  <p>
    {{luncher.name}} sharing the the lunch {{luncher.lunch.details}} with {{luncher.lunchingWith}}
  </p>
    </span>
    <span ng-show="luncher.lunchingWith == null">
  <p>
    {{luncher.name}} offering the the lunch {{luncher.lunch.details}}!
  </p>
</span>  
</div>
</div>
