<div class="jumbotron">
  <h1>'Hi Harshal!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/feeds">Enter<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">    
 <div ng-repeat="luncher in lunchers">
  <h4>{{luncher.name}}</h4>
  <span ng-show="luncher.lunchingWith != null">
  <p>
    {{luncher.name}} sharing the the lunch {{luncher.lunch.details}} with {{luncher.lunchingWith}}
  </p>
    </span>
    <span ng-show="luncher.lunchingWith == null">
  <p>
    {{luncher.name}} offering the the lunch {{luncher.lunch.details}}!
  </p>
</span>  
</div>
</div>
